/graphics.iml
/.idea/.gitignore
/.idea/.name
/target/classes/com/will/App$1$1.class
/target/classes/com/will/App$1.class
/target/classes/com/will/App.class
/.idea/compiler.xml
/.idea/encodings.xml
/target/classes/com/will/Engine3D.class
/.idea/jarRepositories.xml
/target/classes/com/will/Matrix.class
/.idea/libraries/Maven__junit_junit_4_13_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_openjfx_javafx_base_13.xml
/.idea/libraries/Maven__org_openjfx_javafx_base_win_13.xml
/.idea/libraries/Maven__org_openjfx_javafx_controls_13.xml
/.idea/libraries/Maven__org_openjfx_javafx_controls_win_13.xml
/.idea/libraries/Maven__org_openjfx_javafx_fxml_13.xml
/.idea/libraries/Maven__org_openjfx_javafx_fxml_win_13.xml
/.idea/libraries/Maven__org_openjfx_javafx_graphics_13.xml
/.idea/libraries/Maven__org_openjfx_javafx_graphics_win_13.xml
/target/classes/com/will/Mesh.class
/.idea/misc.xml
/target/classes/module-info.class
/.idea/modules.xml
/target/classes/com/will/primary.fxml
/target/classes/com/will/secondary.fxml
/target/classes/com/will/Shape$1.class
/target/classes/com/will/Shape$2.class
/target/classes/com/will/Shape$3.class
/target/classes/com/will/Shape$4.class
/target/classes/com/will/Shape$5.class
/target/classes/com/will/Shape.class
/target/classes/com/will/Triangle$1.class
/target/classes/com/will/Triangle.class
/.idea/vcs.xml
/target/classes/com/will/Vec3d$1.class
/target/classes/com/will/Vec3d.class
/target/test-classes/com/will/Vec3dTest.class
